html{
	/*꽉 채우는 배경이미지 만들기 */
	background: url(../images/bg.jpg) no-repeat center center fixed;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	}
	
#wrapper {display: table;}

#loginform {
	position: absolute;
	top:50%;
	height: 240px;			
	margin-top: -120;
	left: 40%;
	}
	
h1 {
	font-size: 8em;
	text-align: center;
}