html {
	background-color: #e2e1d8;
	font-family: 'Patrick Hand SC';
}

#logo {
	font-family: 'Just Me Again Down Here';
	font-size: 10em;
	text-align: center;
}

#roundline {
	position: fixed;
	top:0;
	left: 20%;
	z-index: -1;
}

#topList {
	margin-left: 80%;
}





/* 홀수번째는 플로트를 롸이트로 바꿔준다. js에서. */
#b_image {
	float : left;
	border-radius: 50%;
	margin:10px;
}

#boarditem {
	padding: 200px;
	padding-left: 250px;
	clear: both;
}

#b_title {
	font-family: 'Just Me Again Down Here';
	font-weight: bold;
	font-size: 3.5em;	
	padding-top: 30px;
	float:right;
	margin-right: 130px;
}

#b_contents {
	
	font-size: 2em;
	padding: 10px;
	margin-right: 100px;
	float:right;
	color: #2B2D2F;
	background-color: #C2C2C2;
	border-radius: 0.5em;
	width:30%;
}














/*글쓰는페이지*/
#formArea {*/
	width: 500px;
	margin-top: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: #1D7373;
	border-radius: 10em;
	padding : 50px;
}

#formArea input {
	border-radius: 3em;
}

#formArea textarea {
	border-radius: 2em;
}

#upload {
	float:right;
	margin-right:10px;
}


#leave {
	text-align: center;
	font-size: 3em;
}


#button {
	clear:both;
	margin-left : 50%;
	padding : 10px;
}

#commentList {
	background-color: #FFD073;
	border-radius: 10em;
	padding: 30px;
	margin : 100px;
	
}

div#comment {
	width: 600px;
	margin: 0 auto;
	margin-top : 30px;
	
}

#comment span {
	float: right;
	padding: 10px;
}

#button form {
	display: inline-block;
	
}

#commentNum {
	float: left;
}

.commentClick {
	float: right;
}

#commentArea {
	display: none;
}







footer {
	text-align: center;
	font-size: 1.5em;
	margin-top: 100px;
}


