html {
	background-color: #e2e1d8;
	font-family: 'Patrick Hand SC';
}

#logo {
	font-family: 'Just Me Again Down Here';
	font-size: 10em;
	text-align: center;
}

#roundline {
	position: fixed;
	top:0;
	left: 20%;
	z-index: -1;
}

#topList {
	margin-left: 80%;
}





/* 홀수번째는 플로트를 롸이트로 바꿔준다. js에서. */
#b_image {
	float : left;
	border-radius: 50%;
	margin:10px;
}

#boarditem {
	padding: 200px;
	padding-left: 250px;
	clear: both;
}

#b_title {
	font-family: 'Just Me Again Down Here';
	font-weight: bold;
	font-size: 3.5em;	
	padding-top: 30px;
	float:right;
	margin-right: 130px;
}

#b_contents {
	
	font-size: 2em;
	padding: 10px;
	margin-right: 100px;
	float:right;
	color: #2B2D2F;
	background-color: #C2C2C2;
	border-radius: 0.5em;
	width:30%;
}














/*글쓰는페이지*/
#formArea {
	width: 500px;
	margin-top: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: #1D7373;
	border-radius: 10em;
	padding : 50px;
}

#formArea input {
	border-radius: 3em;
}

#formArea textarea {
	border-radius: 2em;
}

#upload {
	float:right;
	margin-right:10px;
}


#leave {
	text-align: center;
	font-size: 3em;
}


#button {
	clear:both;
	margin-left : 50%;
	padding : 10px;
}

#commentList {
	background-color: #FFD073;
	border-radius: 10em;
	padding: 30px;
	margin : 100px;
	
}

div#comment {
	width: 600px;
	margin: 0 auto;
	margin-top : 30px;
	
}

#comment span {
	float: right;
	padding: 10px;
}

#button form {
	display: inline-block;
	
}

#commentNum {
	float: left;
}

.commentClick {
	float: right;
}

#commentArea {
	display: none;
}








footer {
	text-align: center;
	font-size: 1.5em;
	margin-top: 100px;
}







.ch-grid {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 220px;
    height: 220px;
    display: inline-block;
    margin: 20px;
}

.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow: 
        inset 0 0 0 0 rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}

.ch-img-1 { 
    background-image: url(../images/1.gif);
}

.ch-info {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
    backface-visibility: hidden;
}

.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    position: relative;
    letter-spacing: 2px;
    font-size: 22px;
    margin: 0 30px;
    padding: 65px 0 0 0;
    height: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow: 
        0 0 1px #fff, 
        0 1px 2px rgba(0,0,0,0.3);
}
 
.ch-info p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}
 
.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}

.ch-item:hover {
    box-shadow: 
        inset 0 0 0 110px rgba(200,95,66, 0.4),
        inset 0 0 0 16px rgba(255,255,255,0.8),
        0 1px 2px rgba(0,0,0,0.1);
}

.ch-item:hover .ch-info {
    opacity: 1;
    transform: scale(1);    
}